@media only screen and (min-width: 768px) {
    .card-size {
        height: 20vw;
        width: 25vw;    
    }
}
.page-title{
    color: white;
    font-size: 2vw;
}
@media only screen and (max-width: 576px) {
    .page-title{
        font-size: 3vw !important;
    }
}
.label-font{
    font-weight: 100;
}
.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li {
    color: #ffd700;
  }
  
  .rating-list li.selected {
    color: #ffd700;
}